  
  .menu{
    margin-top: 40px;
    display: flex;
    width: 1050px;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
  }
  .left-menu a{
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
  }
  .left-menu .active-item{
    background-color: rgba(240, 99, 184, 0.25);
  }
  .left-menu a:hover{
    background: #dcdcdc;
  }
  .right-menu a {
    width: 255px;
    max-width: 255px;
    height: 60px;
    background: var(--primary-color);
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    color:#fff;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  a span {
    display: block;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
  }
  @media(max-width: 900px) {
    .menu {
      margin: 48px auto 0;
    }
  }